:root {
  --vp-button-brand-bg: #0fc25e;
  --vp-button-brand-hover-bg: #32cf70;
  --vp-c-brand-1: #0fc25e;
}

.dark {
  --vp-button-brand-bg: #10a853;
  --vp-button-brand-hover-bg: #2fbc67;
  --vp-c-brand-1: #10a853;
}
